/* font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

/* global styles */
:root {
  --color-purple: #ad1fea;
  --color-water-blue: #4661e6;
  --color-white: #fff;
  --color-light-blue: #f2f4ff;
  --color-light-grey: #f7f8fd;
  --color-dark-grey: #3a4374;
  --color-grey: #647196;
  --color-orange: #f49f85;
  --color-sky-blue: #62bcfa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background: #f2f2f2;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* 
nav 
*/
nav {
  background: linear-gradient(
    50deg,
    rgba(40, 167, 237, 1) 0%,
    rgba(180, 60, 213, 1) 40%,
    rgba(163, 55, 246, 1) 60%,
    rgba(232, 77, 112, 1) 100%
  );
  width: 100%;
  height: 72px;
  max-height: 72px;
  display: flex;
  color: var(--color-white);
  padding: 24px;
}

.nav-container {
  width: 100%;
  min-width: 375px;
  margin: 0 auto;
  display: flex;
}

.img-container {
  width: 100%;
  min-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title h1 {
  font-size: 15px;
}

.nav-title p {
  opacity: 0.75;
  font-size: 13px;
}

nav .category-btn-container {
  display: none;
}

nav .roadmap-container {
  display: none;
}

.category-btn-container,
.roadmap-container {
  background: var(--color-white);
  border-radius: 10px;
  padding: 19px;
}

.category-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.roadmap-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.roadmap-container header h2 {
  color: var(--color-dark-grey);
  font-size: 18px;
}

.roadmap-container header a {
  color: var(--color-water-blue);
  cursor: pointer;
  font-size: 13px;
  transition: color 0.4s linear;
}
.roadmap-container header a:hover {
  color: #8397f8;
}

.roadmap-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-item > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.roadmap-item p,
.roadmap-item h3 {
  color: var(--color-grey);
}

.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.round.orange {
  background: var(--color-orange);
}
.round.violet {
  background: var(--color-purple);
}
.round.blue {
  background: var(--color-sky-blue);
}

.number {
  font-size: 16px;
}

.button2 {
  text-transform: capitalize;
}
.button2.up {
  text-transform: uppercase;
}
.button2:hover {
  background: #cfd7ff;
}
.button2.active {
  background: var(--color-water-blue);
  color: var(--color-white);
}

/*
suggestions
*/
.suggestions-bar {
  background: #373f68;
  height: 56px;
  max-height: 56px;
  width: 100%;
  display: relative;
}

.suggestions-bar .container {
  padding: 0 24px;
  min-width: 375px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button1 {
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  width: 134px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: var(--color-purple);
  color: var(--color-white);
  border-radius: 10px;
  transition: background 0.4s ease-in;
  cursor: pointer;
  text-decoration: none;
}
.button1:hover {
  background: #c75af6;
}

.sort {
  color: var(--color-white);
  display: flex;
  gap: 4px;
  position: relative;
}

.sort-header {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: opacity 0.4s linear;
}
.sort-header:hover {
  opacity: 0.75;
}
.show .sort-header {
  color: #f2f4fe;
}

.sort-header {
  font-size: 13px;
}

.select-suggestions {
  position: absolute;
  background: var(--color-white);
  z-index: 2;
  bottom: -250px;
  width: 255px;
  max-width: 255px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #979797;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s linear, visibility 0.4s linear;
}

.show .select-suggestions {
  visibility: visible;
  opacity: 1;
}

.single-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-dark-grey);
}

.single-select:last-child {
  border-bottom: none;
}

.single-select p {
  color: var(--color-grey);
  transition: color 0.4s ease-in;
  cursor: pointer;
}

.single-select p:hover {
  color: var(--color-purple);
}
.single-select.show p {
  color: var(--color-purple);
}

.single-select img {
  transition: opacity 0.4s ease-in;
  opacity: 0;
}
.single-select.show img {
  opacity: 1;
}

.number-suggestions {
  display: none;
}

/* 
main feedback
*/
.main-feedback {
  min-width: 375px;
  max-width: 575px;
  margin: 0 auto;
  padding: 2rem 24px 4rem 24px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.single-item-feedback {
  position: relative;
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px #979797;
  cursor: pointer;
}

.item-link {
  color: var(--color-dark-grey);
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  transition: color 0.4s linear;
  text-decoration: none;
}

.single-item-feedback:hover .item-link {
  color: var(--color-water-blue);
}

.single-item-text p {
  font-size: 13px;
  color: var(--color-grey);
  font-weight: 400;
  margin-bottom: 8px;
}

.upvotes {
  background: var(--color-light-blue);
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
  transition: all 0.4s linear;
  color: var(--color-dark-grey);
}
.upvotes:hover {
  background: #cfd7ff;
}
.active.upvotes {
  background: var(--color-water-blue);
  color: var(--color-white);
}

.upvotes p,
.questions p {
  font-weight: 700;
  font-size: 13px;
  font-family: inherit;
}

.upvotes img {
  width: 8px;
  height: 4px;
}

.questions {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 37px;
  right: 20px;
  transform: translateY(50%);
  color: var(--color-dark-grey);
}

.button2,
.main-btn {
  background: var(--color-light-blue);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--color-water-blue);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.4s linear, color 0.4s linear;
}

.main-feedback .main-btn {
  text-transform: capitalize;
}

.main-btn {
  cursor: inherit;
}

/* 
sidebar
*/
.sidebar {
  position: absolute;
  top: 72px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 3;
  visibility: hidden;
  transition: visibility 0.6s ease-in;
  overflow: hidden;
}

.sidebar.show {
  visibility: visible;
}

.sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-light-grey);
  height: 100%;
  width: 70%;
  padding: 19px;
  transform: translateX(100%);
  transition: transform 0.6s linear;
}

.show .sidebar-container {
  transform: translate(0);
}

.sidebar-container .category-btn-container {
  margin-bottom: 19px;
}

/* 
media screen tablet 
*/
@media screen and (min-width: 768px) {
  body {
    padding: 2rem 24px 4rem 24px;
  }
  .sidebar {
    display: none;
  }

  .toggle-sidebar-btn {
    display: none;
  }

  nav {
    background: transparent;
    min-height: 178px;
    padding: 0;
  }

  .nav-container {
    height: 178px;
    max-height: 178px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .img-container {
    max-height: 178px;
    min-width: 223px;
    background: linear-gradient(
      50deg,
      rgba(40, 167, 237, 1) 0%,
      rgba(180, 60, 213, 1) 40%,
      rgba(163, 55, 246, 1) 60%,
      rgba(232, 77, 112, 1) 100%
    );
    border-radius: 10px;
    padding: 19px;
    align-items: flex-end;
  }

  .nav-title h1 {
    font-size: 20px;
  }

  .nav-title p {
    font-size: 15px;
  }

  nav .category-btn-container {
    display: flex;
    max-height: 178px;
    min-width: 223px;
  }

  nav .roadmap-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 223px;
    max-height: 178px;
  }

  .category-btn-container {
    gap: 20px;
    align-items: center;
  }

  .number-suggestions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .number-suggestions h2 {
    font-size: 18px;
    color: var(--color-white);
  }

  .sort-header {
    font-size: 14px;
  }

  .button1 {
    font-size: 14px;
    width: 158px;
    height: 44px;
  }

  .suggestions-bar {
    margin: 0 auto;
    border-radius: 10px;
    height: 72px;
    max-height: 72px;
    margin-top: 2rem;
  }

  .main-feedback {
    max-width: inherit;
    padding: 0;
    gap: 20px;
    padding-top: 24px;
  }

  .single-item-feedback {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
  }

  .single-item-text {
    grid-column: 2 / 3;
  }

  .item-link {
    font-size: 18px;
    letter-spacing: 0.25px;
  }

  .single-item-text p {
    font-size: 16px;
  }

  .upvotes {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex-flow: column;
    padding: 10px 10px;
    margin-top: 0;
  }

  .questions {
    bottom: 50%;
    right: 2rem;
    transform: translateY(50%);
  }
  .questions p {
    font-size: 16px;
  }
}

/* overflow */
